{% extends "myapp/base.html" %}
{% block title %} Insights & Reports - Kukumzima {% endblock %}


{% block content %}
            <!-- content  -->

    <body>
        <div class="container" id="farms">
            <div class="zoom">
                Overall rating: 70%
            </div>
            <h2>Tatu city 30 acres</h2>
            <p>
            Chicken population  : 600
            Farm ID: F0093
            </p>

        </div>

        <div class="row">
            <div class="inventoryColumn">
                <h2>Inventory</h2>
                <table>
                    <tr>
                        <th>Requirement:</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td>Feeds</td>
                        <td>300 Bags</td>
                    </tr>
                    <tr>
                        <td>Eggs </td>
                        <td>300 Trays</td>
                    </tr>
                </table>
                <button href="#" id="manageBtn">
                    Manage Inventory
                </button>
                

            </div>
            <div class="expenseColumn">
                <h2>Expenses: </h2>
                <table>
                    <tr>
                        <th>Requirements:</th>
                        <th>Cost:</th>
                    </tr>
                    <tr>
                        <td>Feeds</td>
                        <td>30000</td>
                    </tr>
                    <tr>
                        <td>Water</td>
                        <td>3223</td>
                    </tr>
                    <tr>
                        <td>Salaries & Wages</td>
                        <td>23242</td>

                    </tr>
                    <tr>
                        <td>Marketing</td>
                        <td>23424</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>23423</td>
                    </tr>
                </table>
                <button href="#" id="manageBtn">
                    Manage Expenses
                </button>
                
            </div>

            <div class="container" id="Perfomance">
                <h2>Perfomance analysis:</h2>
                <table>
                    <tr>
                        <td>Production rate:</td>
                        
                        <td>70%</td>
                        </tr>
                        <tr>
                            <td>
                            Average trays per day:
                            
                            </td>
                            <td>
                                39 
                                
                                </td>
                                </tr><tr>
                                    <td>
                            Overall efficiency: 
                            
                            </td>
                            <td>
                                75% 
                                
                                </td>
                                </tr>
                                <tr>
                                    <td>
                            profit/Loss: 
                            
                            </td>
                            <td>
                                8329
                                
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total sales: 
                                        
                                        </td>
                                        <td>
                                            
                                            32879
                                            </td>
                                            </tr><tr>
                                                <td>
                                                    Selling price:
                                                    
                                                    </td>
                                                    <td>
                                                        
                                420
                                </td>
                                </tr><tr>
                                    <td>
                                        Total revenue:
                                        
                                        </td>
                                        <td>
                                            
                                            29382
                                            </td>
                                            </tr><tr>
                                                <td>
                            total expenses: 
                            
                            </td>
                            <td>
                                
                                79712
                            </td>
                    </tr>


                </table>
                    
                   
                <button href="#" id="manageBtn">
                    Generate report
                </button>
                    

                </p>

            </div>

        </div>
        
            </body>

        {% endblock %}




       


