{% extends "myapp/base.html" %} {% load static %} 
{% block title %} Inventory - Kukumzima {% endblock %}
 {% block content %}

<body>
    <h1>Inventory List</h1>
    <a href="{% url 'inventory_create' %}">Add New Inventory</a>
    <ul>
        {% for inventory in inventories %}
            
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Particulars</th>
                            <th>Farm ID: xxx</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Eggs</td>
                            <td>300</td>
                            <td>  <a href="{% url 'inventory_update' inventory.pk %}">Edit {{ inventory.item }}</td>
    
    
                        </tr>
                    </tbody></table>
                    <a href="{% url 'inventory_delete' inventory.pk %}">Delete itemz</a>
<table>

</table>
            </ul>
           
            
                    <tr>
                        <td>Fugo 80Kg</td>
                        <td>82 Bags</td>
                        
                    </tr>
                    <tr>
                        <td>Suguna </td>
                        <td>72 Bags</td>
                        
                    </tr>
                    
                    
                </tbody>
            </table>
    </ul>
</body>
{% endfor %}
{% endblock %}
</html>
